---
import Layout from "../layouts/Layout.astro";

const lastUpdate = "2024-07-01";

const me = {
  fullName: "Luis Quiñones Requelme",
  cvLink: "https://cdn.quinones.pro/resume.pdf",
  email: "luis@quinones.pro",
};
---

<Layout title={me.fullName}>
	<main>
		<section id="meta">
			<h1 class="uppercase font-extrabold" style="padding-left: 18px;">{me.fullName}</h1> 

			<h4 class="font-semibold text-center">
				Updated
			</h4>

			<span class="text-center">
				{lastUpdate}
			</span>

			<div id="cv" class="flex flex-row items-center gap-3">
				<h2 class="font-semibold text-start border-r-[1px] border-white border-solid pl-[1.2rem] pr-[1.2rem]">
					CV
				</h2>

				<a href="https://cdn.quinones.pro/resume.pdf" target="_blank" class="underline text-center">
					{me.cvLink}
				</a>
			</div>

			<h2 class="font-semibold text-center">
				Contact
			</h2>

			<span class="text-center">
				{me.email}
			</span>
		</section>
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 18px;
		line-height: 2;
	}

	#meta {
		display: grid;
		grid-template-columns: 60% 12% 28%;
		align-items: center;
		margin-top: 1.5rem;
	}

	#meta > * {
		border: 1px solid white;
		box-sizing: border-box;
		padding: 4px;
	}
</style>
