---
import ProfessionalCareer from "../components/professional-career.astro";
import { Description, type IProfessionalExperience } from "../types";
import UserMeta from "../components/user-meta.astro";
import Layout from "../layouts/Layout.astro";

const lastUpdate = "2024-07-01";

const me = {
  fullName: "Luis Quiñones Requelme",
  cvLink: "https://cdn.quinones.pro/resume.pdf",
  email: "luis@quinones.pro",
};

const localContents = [
  {
    title: "Projects",
    href: "#projects",
  },
  {
    title: "Professional Career",
    href: "#professional-career",
  },
  {
    title: "Interests",
    href: "#interests",
  },
  {
    title: "Knowledge",
    href: "#knowledge",
  },
  {
    title: "Other places",
    href: "#other-places",
  },
];

const professionalCareer: Array<IProfessionalExperience> = [
  {
    company: "Chanchita",
    position: "CTO/Co-Founder",
    location: "El Salvador",
    mode: "Remote",
    since: "Jul 2024",
    until: "NaN",
  },
  {
    company: "Qompa",
    position: "Full-Stack Developer",
    location: "Perú",
    mode: "Remote",
    since: "May 2024",
    until: "NaN",
  },
  {
    company: "Netic Labs",
    position: "Founder & CEO",
    location: "Peru",
    mode: "Remote",
    since: "Mar 2024",
    until: "NaN",
  },
  {
    company: "Inversiones.io",
    position: "Site Reliability Engineer",
    location: "Perú",
    mode: "Hybrid",
    since: "Jan 2024",
    until: "NaN",
    description:
      "Is a crowdfunding fintech company situated in Peru, dedicated to connecting investors with enterprises in need of funding. Our aspiration is to enhance the Peruvian economy and boost small and medium-sized enterprises around the country.",
  },
  {
    company: "WiserSKILLS",
    position: "Full-Stack Developer",
    location: "Paris, France",
    mode: "Remote",
    since: "Jun 2023",
    until: "Dec 2023",
    description:
      "Is a software development company that specializes in the development of web applications and mobile applications. Our team focuses on building high-quality, scalable, and secure software solutions that meet the needs of our clients.",
  },
  {
    company: "WiserSKILLS",
    position: "Backend Developer",
    location: "Paris, France",
    mode: "Remote",
    since: "Feb 2022",
    until: "Jun 2023",
    description: new Description({
      achievements: [
        "Improved the development experience making that the productivity increases by 92.5% in all the cases.",
        "Configuration, deploying and monitoring tasks of more than 20 deployed servers using ArgoCD, kubernetes and k9s.",
        "I dealt with multiple cases of race condition issues that have been in the backend before my entry.",
        "Automation of some common processes for the backend and the DevOps team.",
      ],
      technologies: [
        {
          link: "https://go.dev/",
          name: "go",
        },
        {
          link: "https://www.arangodb.com/",
          name: "arangodb",
        },
        {
          link: "https://vuejs.org/",
          name: "vuejs",
        },
        {
          name: "aws",
          link: "https://aws.amazon.com/",
        },
        {
          name: "docker",
          link: "https://www.docker.com/",
        },
        {
          name: "linux",
          link: "https://www.linux.org/",
        },
        {
          name: "typescript",
          link: "https://www.typescriptlang.org/",
        },
      ],
    }),
  },
  {
    company: "Desstorm",
    position: "Web Developer",
    location: "Perú",
    mode: "Remote",
    since: "Oct 2021",
    until: "Dec 2021",
  },
];
---

<Layout title={me.fullName}>
	<main class="flex flex-col gap-16">
		<UserMeta {lastUpdate} {me} />

		<section id="contents" class="flex flex-col gap-4">
			<h2 class="font-bold">CONTENTS</h2>

			<ul class="list-disc list-inside ml-6">
				{
					localContents.map(({ title, href }) => (
						<li>
							<a href={href} class="underline">{title}</a>
						</li>
					))
				}
		</section>

    <ProfessionalCareer {professionalCareer} />
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 1.5rem);
		color: white;
		font-size: 18px;
		line-height: 2;
	}

  li {
    margin: -8px 0;
  }

  @media (max-width: 750px) {
    main {
      padding: unset;
      max-width: 100%;
    }
  }
</style>
