---
import ProfessionalCareer from "@/components/professional-career.astro";
import Technologies from "@/components/technologies.astro";
import UserMeta from "@/components/user-meta.astro";
import Projects from "@/components/projects.astro";
import Layout from "@/layouts/Layout.astro";

import { me } from "@/data";

const lastUpdate = "2024-07-01";

const localContents = [
  {
    title: "Projects",
    href: "#projects",
  },
  {
    title: "Professional Career",
    href: "#professional-career",
  },
  {
    title: "Interests",
    href: "#interests",
  },
  {
    title: "Knowledge",
    href: "#knowledge",
  },
  {
    title: "Other places",
    href: "#other-places",
  },
];
---

<Layout title={me.fullName}>
	<main class="flex flex-col gap-16 relative">
		<UserMeta {lastUpdate} {me} />

		<section id="contents" class="flex flex-col gap-4">
			<h2 class="font-bold uppercase">Contents</h2>

			<ul class="list-disc list-inside ml-6">
				{
					localContents.map(({ title, href }) => (
						<li>
							<a href={href} class="underline">{title}</a>
						</li>
					))
				}
		</section>

    <span class="absolute text-[12px]">This is a WIP!</span>

    <Projects />

    <ProfessionalCareer />

    <Technologies />
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 1.5rem);
		color: white;
		font-size: 18px;
		line-height: 2;
	}

  li {
    margin: -8px 0;
  }

  @media (max-width: 750px) {
    main {
      padding: unset;
      max-width: 100%;
    }
  }
</style>
