---
import { type IProfessionalExperience, Description } from "../types";

interface Props {
  experience: IProfessionalExperience;
}

const { experience } = Astro.props;
const { company, position, since, until, mode, description } = experience;
---

<details>
    <summary class="flex items-center justify-between">
        <span><span class="company">{company}</span> - {position}</span> <span>({since} - {until})</span>
    </summary>

    {
        (description instanceof Description) ? (
            <div class="flex flex-col gap-5 mb-3">
                {description.achievements.length > 0 && <div class="flex flex-col gap-2 ml-2">
                    <h4 class="font-bold">Achievements</h4>
                    <ul>
                        {description.achievements.map((item) => (
                            <li class="list-disc list-inside text-[15px]">{item}</li>
                        ))}
                    </ul>
                </div>}

                {description.technologies.length > 0 && <div class="flex flex-col gap-2 ml-2">
                    <h4 class="font-bold">Technologies</h4>
                    <ul class="flex flex-row gap-3">
                        {description.technologies.map((item) => (
                            <li class="text-[15px] underline">{item}</li>
                        ))}
                    </ul>
                </div>}
            </div>
        ) : (
            description && <p class="mb-3">{description}</p>
        )
    }
</details>

<style>
    details {
        border: 1px solid white;
        padding: 0.5rem 0.8rem;
    }

    .company::before { /* I turned a problem into an improvement. :] */
        content: "+";
        margin-left: 0.25rem;
        margin-right: 0.5rem;
        white-space: nowrap;
    }

    details[open] .company::before {
        content: "-";
    }

    @media (max-width: 1250px) {
        summary {
            flex-direction: column;
            align-items: flex-start
        }
    }
</style>